#project {
    padding: 10px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

    #project h2 {
        color: white;
        text-decoration: none;
        text-align: center;
        font-weight: normal;
        margin-bottom: 10px;
        font-size: 3em;
        font-family: "League Gothic";
    }

    img.project_pic {
        display: block;
        border: 0px solid black;
        width: 800px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    #project p a {
        display: block;
        width: 78px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 20px;
        color: #fff;
        background-color: #591414;
        text-decoration: none;
        font-size: 1.2em;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        border: 1px solid #771a1a;
    }

.jcarousel-skin-tango .jcarousel-container {
    margin: 0px auto 40px auto;
    padding-top: 100px;
    clear: both;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 476px;
    padding: 20px 80px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  476px;
    height: 152px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 150px;
    height: 150px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 64px;
    right: 10px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: transparent url(https://assets.timcamara.com/images/arrow_right.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 64px;
    left: 10px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: transparent url(https://assets.timcamara.com/images/arrow_left.png) no-repeat 0 0;
}
